<div class="footer-container">
	<ul class= "list-inline">
    <li><a href="https://github.com/arthur-littm/"><i class="fa fa-github fa-fw bg-github-footer" aria-hidden="true"></i></a></li>
    <li><a href="https://www.facebook.com/arthur.Iittmann"><i class="fa fa-facebook fa-fw hidden-xs bg-facebook" aria-hidden="true"></i></a></li>
    <li><a href="https://twitter.com/arthur_littm"><i class="fa fa-twitter fa-fw hidden-xs bg-twitter" aria-hidden="true"></i></a></li>
    <li><a href="http://codepen.io/arthur-littm/"><i class="fa fa-codepen fa-fw bg-github-footer hidden-xs" aria-hidden="true"></i></a></li>
    <li><a href="https://uk.linkedin.com/in/arthur-littmann-b1479b67"><i class="fa fa-linkedin fa-fw bg-linkedin-footer" aria-hidden="true"></i></a></li>
    <li><a href="https://www.youtube.com/channel/UCC6p0L9affF4y4iIxB5jWoQ"><i class="fa fa-youtube fa-fw hidden-xs bg-youtube" aria-hidden="true"></i></a></li>
    <li><%= link_to getintouch_path do %>
      <i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i>
      <% end %>
    </li>
  </ul>

  <p id="copyright">Copyright &copy; Arthur Littmann 2016</p>
</div>
