<div class="footer-container">
	<ul class= "list-inline">
		<li><a href="https://www.youtube.com/channel/UCC6p0L9affF4y4iIxB5jWoQ"><i class="fa fa-youtube icons" aria-hidden="true"></i></a></li>
		<li><a href="https://www.facebook.com/arthur.Iittmann"><i class="fa fa-facebook-official icons" aria-hidden="true"></i></a></li>
		<li><a href="https://github.com/arthur-littm/"><i class="fa fa-github icons" aria-hidden="true"></i></a></li>
		<li><a href="mailto:arthur.littmann@gmail.com?Subject=Hi%20Arthur" target="_top"><i class="fa fa-envelope icons" aria-hidden="true"></i></a></li>
	</ul>
</div>
