<div class="footer-container">
	<ul class= "list-inline">
		<li><a href="https://www.youtube.com/channel/UCC6p0L9affF4y4iIxB5jWoQ"><i class="fa fa-youtube hidden-xs bg-youtube" aria-hidden="true"></i></a></li>
		<li><a href="https://www.facebook.com/arthur.Iittmann"><i class="fa fa-facebook-official hidden-xs bg-facebook" aria-hidden="true"></i></a></li>
		<li><a href="https://github.com/arthur-littm/"><i class="fa fa-github bg-github-footer" aria-hidden="true"></i></a></li>
		<li><a href="https://uk.linkedin.com/in/arthur-littmann-b1479b67"><i class="fa fa-linkedin bg-linkedin-footer" aria-hidden="true"></i></a></li>
		<li><%= link_to getintouch_path do %>
      <i class="fa fa-envelope" aria-hidden="true"></i>
      <% end %>
    </li>
  </ul>
  <p>Copyright &copy; Arthur Littmann 2016</p>
</div>
