<div class="container-fluid text-center" id="aboutme" style="background-color: #00C3C7">
	<h1>About me</h1>
	<div class="row">
		<div class="hidden-xs col-sm-4 aboutme-list">
			<ul>
				<li><i class="fa fa-code" aria-hidden="true"></i> Fullstack developer</li>
				<li><i class="fa fa-briefcase" aria-hidden="true"></i> Business developer</li>
				<li><i class="fa fa-desktop" aria-hidden="true"></i> Designer</li>
				<li><i class="fa fa-film" aria-hidden="true"></i> Film maker</li>
				<li><i class="fa fa-anchor" aria-hidden="true"></i> Scuba diver</li>
				<li><i class="fa fa-paper-plane" aria-hidden="true"></i> Adventurer</li>
				<li><i class="fa fa-snowflake-o" aria-hidden="true"></i> Snowboarder</li>
				<li><i class="fa fa-bicycle" aria-hidden="true"></i>Cyclist</li>
			</ul>
		</div>
		<div class="col-xs-12 col-sm-8 aboutme-description">
			<div class="aboutme-titles">
				<h3>Education</h3>
				<ul>
					<li>
						<h5>Le Wagon - London</h5>
						<p>Web development bootcamp covering back-end to frond-end development (Ruby on Rails, JavaScript) &amp; database handling (SQL, Activerecords). “leading coding bootcamp in Europe” (Techcrunch 2016)</p>
					</li>
					<li>
						<h5>ESSEC - Paris</h5>
						<p>BBA program of the ESSEC business school in Cergy, France, ranked best international bachelor program in 2016 (challenges.fr). My main topics were Entrepreneurship, Management, Marketing &amp; Languages.</p>
					</li>
					<li>
						<h5>SHU - Sheffield</h5>
						<p>Erasmus exchange semester at the Sheffield Hallam University Business School, in England (UK).</p>
					</li>
					<li>
						<h5>Stirling University</h5>
						<p>Erasmus exchange semester at the University of Stirling, in Scotland (UK).</p>
					</li>
					<li>
						<h5>European School - Varese</h5>
						<p>European Baccalaureate from the European School of Varese (Italy).</p>
					</li>
				</ul>
				
			</div>
			<div class="aboutme-titles">
				<h3>Professional</h3>
				<ul>
					<li>
						<h5>LeKiosk - Paris</h5>
						<p>Internship of 6 months as a business developer at LeKiosk, a digital press start-up. In charge of statistics, iOS In-App submissions, canvassing new magazines, customer service &amp; internal issues.</p>
					</li>
					<li>
						<h5>Duc Son Orphanage - Hue</h5>
						<p>One month of volunteer work in the orphanage of Duc Son, in Hué, Vietnam. Helping in the daily management of the orphanage that holds more than 180 children.</p>
					</li>
					<li>
						<h5>KIABI - Rescaldina</h5>
						<p>Internship of 3 months in sales management at a KIABI clothes shop in the North of Italy, where I had to assist in the management and the everyday tasks of the store like stock management and sales monitoring.</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

