<div class="container text-center" id="portfolio">
  <h1>Portfolio</h1>
  <div class="cards-container">
    <!-- LikeMinded -->
    <div class="card">
     <div class="card-image" style="background-image: url(<%= image_path("likeminded.jpg") %>);">
     </div>
     <div class="card-info">
      <p>Get personal travel advice from your friends</p>
      <ul>
        <li>Ruby on Rails</li>
        <li>HTML5 &amp; CSS3</li>
        <li>Google Maps</li>
        <li>JS &amp; JQuery</li>
        <li>Cloudinary</li>
      </ul>
    </div>
    <div class="card-title">
      <%= image_tag "logo-likeminded.png" %>
    </div>
    <div class="card-date">
      <p>2016</p>
    </div>
    <a href="http://www.like-minded.tech/" class="card-link" target="_blank"></a>
  </div>
  <!-- GearUp -->
  <div class="card">
    <div class="card-image" style="background-image: url(<%= image_path("gearup.jpg") %>);">
    </div>
    <div class="card-info">
      <p>Sports equipment rental platform (Airbnb clone for sports equipment)</p>
      <ul>
        <li>Ruby on Rails</li>
        <li>HTML5 &amp; CSS3</li>
        <li>Google Maps</li>
        <li>JS &amp; JQuery</li>
        <li>Cloudinary</li>
      </ul>  </div>
      <div class="card-title-smaller">
        <%= image_tag "logo-gearup.png" %>
      </div>
      <div class="card-date">
        <p>2016</p>
      </div>
      <a href="http://www.gear-up.online/" class="card-link" target="_blank"></a>
    </div>
  </div>
</div>
