<div class="container-fluid text-center section-header-white" id="recommendations" style="background-color: #00C3C7">
  <h1>Recommendations</h1>
  <div class="recommendations-container">
  <!-- PHELIM -->
    <div class="recom-card">
      <div class="recom-content">
        <p>I was on Arthur's team for the final project at Le Wagon where we built a MVP in 10 working days (<a href="http://www.like-minded.tech/" target="_blank">LikeMinded</a>). Arthur was a great project leader, and can work across the full stack. However, I think he has especially keen eye for design and front end development.</p>
      </div>
      <div class="recom-author">
        <%= image_tag "phelim.jpg", class: "recom-avatar" %>
        <div class="recom-name text-center">
        <h4>Phelim Dunleavy</h4>
        <p>Developer</p>
        </div>
          <a href="https://uk.linkedin.com/in/phelim-dunleavy" class="recom-link bg-linkedin"><i class="fa fa-linkedin"></i></a>
      </div>
    </div>
  <!-- EDWARD -->
    <div class="recom-card">
      <div class="recom-content">
        <p>Arthur is a coding natural and loves what he does. He puts in serious hours which clearly shows through his rapidly progressing skill set and quality. He's also got a good eye on the business thinking of building web applications.</p>
      </div>
      <div class="recom-author">
        <%= image_tag "edward.jpg", class: "recom-avatar" %>
        <div class="recom-name text-center">
        <h4>Edward Ward</h4>
        <p>London Manager at <a href="https://www.lewagon.com/london">Le Wagon</a></p>
        </div>
          <a href="https://www.linkedin.com/in/edward-ward-219a0b14" class="recom-link bg-linkedin"><i class="fa fa-linkedin"></i></a>
      </div>
    </div>
  </div>
</div>
