<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <h1>Get in touch</h1>
      <form method="POST" action="http://formspree.io/arthur.littmann@gmail.com">
        <div class="form-group mailer-form">
          <input type="email" name="email" placeholder="Your email" class="form-control mailer-input">
          <input type="subject" name="subject" placeholder="Subject" class="form-control mailer-input">
          <textarea rows="5" name="message" placeholder="Your message" class="form-control mailer-input"></textarea>
          <button type="submit" class="btn btn-primary mailer-button">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
