<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h1>Let's get in touch!</h1>
      <form method="POST" action="http://formspree.io/arthur.littmann@gmail.com">
        <div class="form-group mailer-form">
          <input type="email" name="email" placeholder="Your email" class="form-control mailer-input" required>
          <input type="subject" name="subject" placeholder="Subject" class="form-control mailer-input">
          <textarea rows="5" name="message" placeholder="Your message" class="form-control mailer-input" required></textarea>
          <button type="submit" class="mailer-button">Send <i class="fa fa-paper-plane" aria-hidden="true"></i></button>
        </div>
      </form>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="getintouch-container">
        <%= image_tag "avatar.jpg", class: "avatar-large getintouch-avatar" %>
        <div class="getintouch-quote">
          <h3><%= ["Always code as if the guy who ends up maintaining your code will be a violent psychopath who knows where you live.", "Any fool can write code that a computer can understand. Good programmers write code that humans can understand.", "Every problem has a solution, you just have to be creative enough to find it."].sample %></h3>
        </div>
        <div class="share-links">
          <a href="https://github.com/arthur-littm" class="share-link bg-github">
            <i class="fa fa-github"></i>
          </a>
          <a href="https://uk.linkedin.com/in/arthur-littmann" class="share-link bg-linkedin">
            <i class="fa fa-linkedin"></i>
          </a>
          <a class="share-link bg-globe hidden-xs" data-toggle="modal" data-target="#myModal">
            <i class="fa fa-globe" aria-hidden="true"></i>
          </a>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Where am I ?</h4>
      </div>
      <div class="modal-body">
        <%= image_tag "map.png", class: "map zoom" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
