.footer-container {
  background-color: #2F323A;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #E8EEF2;
  padding: 20px 30px 0px 0px;
  align-items: baseline;
  .icons {
    font-size: 23px;
  }
  list-style-type: none;
  i {
    font-size: 35px;
    margin: 12px;
    color: #E8EEF2;
  }
  i:hover {
    color: #5D737E;
    transition-duration: 1s;
  }
  li {
    margin: 10px auto;
  }
}
