.footer-container {
  background-color: #2F323A;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #E8EEF2;
  padding: 20px 30px 0px 0px;
  align-items: baseline;
  h4 {
    margin-top: 0px;
    color: #5D737E;
    font-size: 15px;
  }

  .icons {
    font-size: 23px;
  }
}

.footer-left {
  list-style-type: none;
  i {
    font-size: 35px;
    margin: 12px;
    color: #E8EEF2;
  }
  i:hover {
    color: #5D737E;
    transition-duration: 1s;
  }
}

.footer-middle {
  border-right: 1px solid #5D737E;
  border-left: 1px solid #5D737E;
  padding: 10px 120px;
  img {
    margin: 15px 20px 0px 20px;
    width: 46px;
    margin-top: 10px;
  }
  img:hover {
    opacity: 0.3;
    transition-duration: 1s;
  }
}


.footer-right {
  ul {
    list-style: none;
    text-align: left;
    padding-left: 0px;
    margin-top: 8px;
    font-weight: 100;
    li {
      margin: 10px auto;
      i {
        font-size: 30px;
        padding: 0px 20px;
      }
    }
  }
  i:hover {
    color: #5D737E;
    transition-duration: 1.25s;
  }
}
