.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  margin:20px;
  color: #2F323A;
  height: 315px;
  width: 400px;
  border-radius: 4px;
  position: relative;
  padding: 0;
  background-color: white;
  border: 0.5px solid rgba(167, 185, 221, 0.43);
  .card-status-badge {
    position: absolute;
    top: -5px;
    left: -5px;
    background-color: #FC334E;
    border-radius: 15px;
    text-align: center;
    color: white;
    width: 30px;
    height: 30px;
    padding-top: 5px;
    padding-right: 2px;
    font-weight: 100;
  }
  .card-title {
    margin: 10px auto;
    position: absolute;
    left: 10px;
    bottom: 12px;
    text-align: center;
    img {
      width: 150px;
    }
  }
  .card-title-smaller {
    margin: 10px auto;
    position: absolute;
    left: 10px;
    bottom: 12px;
    text-align: center;
    img {
      width: 100px;
    }
  }
  .card-button {
    position: absolute;
    bottom: 15px;
    right: 65px;
    font-size: 12px;
    font-weight: 100;
    z-index: 4;
  }
  .card-date {
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 15px;
    font-weight: bold;
    color: rgba(66, 72, 85, 0.67);
  }
  .card-info {
    font-size: 16px;
    text-align: left;
    padding: 10px;
    position: absolute;
    top: 107px;
    transition: ease-in-out, top .5s ease-in-out;
    p {
      opacity: 0;
      transition: opacity .3s;
    }
  }
  .card-avatar {
    position: absolute;
    bottom: 5px;
    left: 10px;
  }
  .card-image {
    background-size: cover !important;
    background-position: top;
    position: absolute;
    top: 0;
    width: 100%;
    height: 240px;
    transition: ease-in-out, height .5s ease-in-out;
  }
}
.card:hover {
  box-shadow: 1px 1px 6px 0px #96A6C7;
  .card-info {
    top: 10px;
    p {
      opacity: 1;
      transition: opacity 1s;
    }
  }
  .card-image {
    height: 0px;
  }
  .card-title {

  }
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  opacity: 0;
}
